{% extends "AppLugares/inicio.html" %}

{% block bienvenida %}{% endblock %}

{% block contenidoQueCambia %}
<h1>Enviar mensaje</h1>

<form method="post">
    {% csrf_token %}

    <label>Para:</label><br>
    <select name="receiver">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Mensaje:</label><br>
    <textarea name="content" rows="4"></textarea>

    <br><br>

    <button type="submit">Enviar</button>
</form>
{% endblock %}
