<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencias</title>
</head>
<body>
    {% extends "AppLugares/inicio.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
       <h1>Opiniones de otros viajeros</h1>
       {% for experiencia in experiencias %}
         <p>Comentario: {{experiencia.comentario}}</p>
         <p>Puntuación: {{experiencia.puntuación}}</p>
        {% empty %}
        <p>No hay experiencias</p>
        {% endfor %}
    {% endblock %}

    
</body>
</html>